@(title: String)(content: Html)
@import tags._

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
        @content

        <!-- <script type="text/javascript" async="true" src="http://locale.ilromoletto.it:9000/crwlzr.js/123456"></script> -->
        
        <script type="text/javascript" >
        var _crwlzr = _crwlzr || [];
        _crwlzr.push(['account', '123456']);
        
        (function() {
		  var scrpt = document.createElement('script'); scrpt.type = 'text/javascript'; scrpt.async = true;
		  scrpt.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'locale.ilromoletto.it:9000/crwlzr.js/' + _crwlzr[0][1];
		  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(scrpt, s);
		})();
        </script>
        
        <script type="text/javascript" >
	 		console.log("(da fuori)_crwlzr[0]=" + _crwlzr[0]);
     	</script>
    </body>
</html>


